@import "./index.scss";

.main {
  background-color: $primaryColor;
  min-height: 100vh;
  width: 100%;
}

.header {
  text-align: center;
  color: white;
}

.spin {
  position: absolute;
  width: 150px;
  height: 150;
  left: 50%;
  top: 50%;
  margin-left: -75px;
  margin-top: -75px;
}
